*
{
    margin:0;
    font-family: "Righteous";
    box-sizing: border-box;
}

html
{
    font-size:100%;
}

body 
{
  /*POur passer sous le menu fixe*/ 
  box-sizing: border-box;
  /*padding-top: 70px;*/
  width:100%;
  /*font-size: .85em; 85 fois la taille du parent (html)*/
}

html,body
{
    height: 100%;
    position:relative;
}


/*
*****************************************
MENU
*****************************************
*/
#navbr
{
    background-color: #4e555b;
}

/*
----ITEMS
*/

/*Survol*/
#menumain li a:hover
{
    color: #EA6124;
    background-color:#4e555b;
}

/*Focus*/
#menumain li a:focus
{
    background-color: #4e555b;
}

/*Item actif*/
#menumain .main-active
{
    color: #EA6124;
}

#menumain a
{
    color: white;
}

#menubrand
{
    padding-top: 0;
}

#btnhamburger
{
    margin:0;
}
/*
*****************************************
PAGE ACCUEIL
*****************************************
*/

#br
{
    margin: 0 auto;
}
/*
----Fonds
*/

#accueil
{
    background-color:#eee;
    width:100%;
    min-height:100%;
}

#presentation, #projets, #contact, #descprojet
{
    background-size: cover;
    width:100%;
    min-height: 100%;
}

#background{
    position: fixed;    
    background:url(../media/composants/background.png);
    background-size:cover;  
    width:100%;
    height:100%;
    z-index: -1;
}

/*
----Texte
*/
.page-header
{
    border:0;
    
}

.page-header h2, .page-header h1
{
    margin-top:8vh;
    text-transform: uppercase;
}

.text-center h3
{
    color: #6c757d;
    font-size: 4vw;
}

/*CHEVRON BAS*/
#accueil .btn
{
    font-size: 5vw;
    color: black;
}
/*
*****************************************
PAGE PRESENTATION
*****************************************
*/

#presentation  
{
    font-size:3.5vmin;
}

.btn-presentation
{
    width: 100%;
    color: white;
    background-color: #EA6124;
}

.btn-presentation:hover, .btn-presentation:focus
{
    background-color: orange;
    color:white !important;
}

.li-presentation
{
    list-style-type: none;
}

/*
*****************************************
PAGE PROJETS
*****************************************
*/
/*
------------------------Menu
*/
#menuprojets li
{
    text-align: center;
    border: 1px solid white;
    padding: 0;
}

.nav-link img
{
    width:3vw;
}

#menuprojets li.categorie-active a
{
    background-color: #eee;
}

#blocmenuprojets
{
    padding:0;
}

/*
------------------------Projets
*/
#centerprojets
{
    padding:0;
}
.vignette
{
    border:0;
    z-index: 0;
}

/*
---- Texte Desc Projet
*/

/* Caratéristiques */
.hoverprojet
{
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-top: 5px solid #EA6124;
    border-left: 5px solid #EA6124;
    text-shadow:-.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black ;
    padding: 1%;
}

.hoverprojet h4, .hoverprojet h5
{
    color: #EA6124;
    text-transform: uppercase;
    text-align: center;    
}

.hoverprojet h4
{
    font-size:3vw;
}

.hoverprojet h5
{
    font-size:1vw;
}

/* SURVOL */
.vignette:hover .hoverprojet
{
    display:block;
}

.vignette:hover img, .vignette:hover a .hoverprojet 
{
    transition:.5s;
}

.vignette:hover img
{
    filter:blur(5px);
}
/*
*****************************************
PAGE DESC PROJETS
*****************************************
*/

#descprojet .row
{
    margin-right: 0;
}

/*
------ Header Projet
*/

#headerprojet
{
    text-align: center;
}

#headerprojet h1
{
    font-size: 4vw;
    text-transform: uppercase;
    color:#EA6124;
}

#headerprojet h3, #linkprojet
{
    font-size:2vw;
}

#headerprojet #linkprojet a
{
    color:black;
    text-decoration: none;
}

#headerprojet #linkprojet a:hover
{
    color:#4e555b;
}



/*
------ Texte Desc Projet
*/

#descprojet 
{
    /*font-size:1.2em;*/
}

#blocdescprojet dd
{
    text-align: justify;
    margin-bottom: 10%;
}

#blocdescprojet dt
{
    margin-bottom: 5%;
}

.carousel-control
{
    background:none !important;
}

/*
*****************************************
PAGE CONTACT
*****************************************
*/

/*
-----------------Infos Contact
*/
.textcontact
{
    text-align: center;
}

.icontact
{
    color:#EA6124;
    text-align: center;
    font-size:3vw;
}
.info-contact
{
    margin-top:5vh;
}

/*
-----------------Séparateur
*/
#separateur
{
    text-align: center;
}
.rond
{
    margin: 0 auto;
    width:2vw;
    height:2vw;
    background-color:#EA6124;
    border-radius: 50%;
}

#rectangle
{
    margin:5% auto ;
    width:1vw;
    height:50vh;
    background-color:black;
}

/*
-----------------Formulaire Contact
*/

#formulaire
{
    margin:0 auto;
}

#form-contact
{
    margin-top: 10%;
}

/*
    Message Erreur / Valide
*/
#form-erreur, #form-valide
{
    padding-left:5%;
}

#form-erreur
{
    color:crimson;
}

#form-valide
{
    color:olivedrab;
}

/*
------- Inputs
*/

.input-contact
{
    padding-right:0;
}

.input-contact input
{
    height:3em;
}

.form-group textarea
{
    resize: vertical;
}

.form-group input:focus,.form-group textarea:focus
{
    opacity:.5;
}

/*
--------Envoi 
*/
#btn-envoi
{
    background-color: #EA6124;
    color: white;
    text-transform: uppercase;
    height: 10vh;
}

#btn-envoi:hover
{
    background-color: orange;
}

#envoi
{
    margin-right: 0;
}



@media(max-width: 768px)
{
/*
------------------------PROJET    
*/  
    .nav-link img
    {
        width:5vw;
    }
    
    .projet
    {
        padding:0 !important;
    }
    
/*
------------------------CONTACT    
*/    
    /*CHEVRON BAS*/
    #accueil .btn
    {
        font-size: 10vw;
    }
    
    .icontact
    {
        font-size: 5vw;
    }
    
    .textcontact
    {
        font-size: 2vw;
    }
    
    
}

@media(max-width: 991px)
{ 
    
/*
------------------------PROJETS
*/      
    .hoverprojet
    {
        display:block;
        border:0;
        top:80%;
        background-color: white;
        text-shadow: none;
    }
    
    .hoverprojet h4
    {
        display:none;
    }
    
    #headerprojet h1
    {
        font-size: 7vw;
    }
    #headerprojet h3, #linkprojet
    {
        font-size:4vw;
    }    
/*
------------------------DESC PROJET    
*/      
    dt img
    {
        width: 5vw;
        height:5vw;
    }
    
    dd
    {
        font-size: 3vw;    
    }

/*
------------------------CONTACT
*/  
    #separateur, .rond
    {
        display:none;
    }
    
    #form-contact
    {
        margin-top: 5vh;
    }
}
