body 
{
  /*POur passer sous le menu fixe*/ 
  box-sizing: border-box;
  /*padding-top: 70px;*/
  width:100%;
}

html,body
{
    height: 100%;
    position:relative;
}

[class*="col-"], footer 
{
  border: 2px solid black;
}

/*
*****************************************
MENU
*****************************************
*/
#navbr
{
   /* background-color: ghostwhite;*/
}

#menubrand
{
    padding-top: 0;
}

/*
*****************************************
PAGE ACCUEIL
*****************************************
*/
#accueil, #presentation, #projets, #contact, #descprojet
{

    /*background-color: beige;*/
    background-size: cover;
    width:100%;
    min-height: 100%;
}

#background{
    position:fixed;
    background:url(../media/composants/background.png);
    background-size:cover;  
    width:100%;
    height:100%;
    z-index: -1;
}